<!DOCTYPE html>
<html>
  <head>
    <title>Vimmer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'hello_react', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Vimmer</h1>
      <nav>
        <%- if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :DELETE %>
        <%- else %>
          <%= link_to 'Log In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <%- end %>
      </nav>
    </header>
    <div id="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
